<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gec.roos.dao.OrderFoMapper">
    <insert id="addOrderFos">
        insert into orderfo(orderid,fid,number,create_time)
        values
        <include refid="addOrderFos_sql"></include>
    </insert>

    <sql id="addOrderFos_sql">
        <if test="list!=null and list.size>0">
            <foreach collection="list" item="item" separator=",">
                (#{item.orderid},#{item.fid},#{item.number},now())
            </foreach>
        </if>
    </sql>

<!--    <sql id="addOrderFos_sql">-->
<!--        <if test="list!=null and list.size>0">-->
<!--            <foreach collection="list" item="item" open="(" close=")" separator=",">-->
<!--                (#{item.orderid},#{item.fid},#{item.number},now())-->
<!--            </foreach>-->
<!--        </if>-->
<!--    </sql>-->


</mapper>